.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    box-sizing: border-box;
}
.spacing-1 {
    margin-left: -12px;
    margin-top: -12px;
}
.spacing-2 {
    margin-left: -24px;
    margin-top: -24px;
}
.spacing-3 {
    margin-left: -36px;
    margin-top: -36px;
}