.grid-container {
    display: grid;
}

/* grid-template-colums */
.grid-cols-1 {
    grid-template-columns: 1fr;
}
.grid-cols-2 {
    grid-template-columns: 1fr 1fr;
}
.grid-cols-3 {
    grid-template-columns: 1fr 1fr 1fr;
}
.grid-cols-4 {
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
.grid-cols-5 {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}
.grid-cols-6 {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}
.grid-cols-7 {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}
.grid-cols-8 {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}
.grid-cols-9 {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}
.grid-cols-10 {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}
.grid-cols-11 {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}
.grid-cols-12 {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

/* grid-gap */
.grid-gap-1 { gap: 10px; }
.grid-gap-2 { gap: 20px; }
.grid-gap-3 { gap: 30px; }
.grid-gap-4 { gap: 40px; }
.grid-gap-5 { gap: 50px; }