.col {
    width: 100%;
}
.spacing-1 {
    padding-left: 12px;
    padding-top: 12px;
}
.spacing-2 {
    padding-left: 24px;
    padding-top: 24px;
}
.spacing-3 {
    padding-left: 36px;
    padding-top: 36px;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .xs-1 { width: 8.33%; }
    .xs-2 { width: 16.66%; }
    .xs-3 { width: 25%; }
    .xs-4 { width: 33.33%; }
    .xs-5 { width: 41.66%; }
    .xs-6 { width: 50%; }
    .xs-7 { width: 58.33%; }
    .xs-8 { width: 66.66%; }
    .xs-9 { width: 75%; }
    .xs-10 { width: 83.33%; }
    .xs-11 { width: 91.66%; }
    .xs-12 { width: 100%; }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .sm-1 { width: 8.33%; }
    .sm-2 { width: 16.66%; }
    .sm-3 { width: 25%; }
    .sm-4 { width: 33.33%; }
    .sm-5 { width: 41.66%; }
    .sm-6 { width: 50%; }
    .sm-7 { width: 58.33%; }
    .sm-8 { width: 66.66%; }
    .sm-9 { width: 75%; }
    .sm-10 { width: 83.33%; }
    .sm-11 { width: 91.66%; }
    .sm-12 { width: 100%; }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .md-1 { width: 8.33%; }
    .md-2 { width: 16.66%; }
    .md-3 { width: 25%; }
    .md-4 { width: 33.33%; }
    .md-5 { width: 41.66%; }
    .md-6 { width: 50%; }
    .md-7 { width: 58.33%; }
    .md-8 { width: 66.66%; }
    .md-9 { width: 75%; }
    .md-10 { width: 83.33%; }
    .md-11 { width: 91.66%; }
    .md-12 { width: 100%; }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .lg-1 { width: 8.33%; }
    .lg-2 { width: 16.66%; }
    .lg-3 { width: 25%; }
    .lg-4 { width: 33.33%; }
    .lg-5 { width: 41.66%; }
    .lg-6 { width: 50%; }
    .lg-7 { width: 58.33%; }
    .lg-8 { width: 66.66%; }
    .lg-9 { width: 75%; }
    .lg-10 { width: 83.33%; }
    .lg-11 { width: 91.66%; }
    .lg-12 { width: 100%; }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .xl-1 { width: 8.33%; }
    .xl-2 { width: 16.66%; }
    .xl-3 { width: 25%; }
    .xl-4 { width: 33.33%; }
    .xl-5 { width: 41.66%; }
    .xl-6 { width: 50%; }
    .xl-7 { width: 58.33%; }
    .xl-8 { width: 66.66%; }
    .xl-9 { width: 75%; }
    .xl-10 { width: 83.33%; }
    .xl-11 { width: 91.66%; }
    .xl-12 { width: 100%; }
}