/******************* style header **********************/

.header {
    background-color: rgb(92, 247, 247);
    h3 {
        padding: 10px 0;
        text-align: center;
    }
}

/******************* style menu **********************/

.menu {
    background-color: rgb(19, 121, 255);
    h3 {
        padding: 10px 0;
        text-align: center;
    }
}

/******************* style footer **********************/

.footer {
    background-color: rgb(44, 44, 44);
    h3 {
        padding: 10px 0;
        text-align: center;
    }
}