.file_input {
    display: flex;
    align-items: center;
}
.choose_file {
    border: 1px solid #bfbfbf;
    color: #666666;
    border-radius: 3px;
    font-size: 12px;
    padding: 4px 20px;
    margin-right: 10px;
    cursor: pointer;
    transition: all .3s;
}
.choose_file:hover {
    background-color: #f2f4f7;
}
.file_thumbnail {
    width: auto;
    height: 22px;
    margin-right: 10px;
}
.file_name {
    margin-bottom: 5px;
}