* {
    --color: #000000de;
    --hover: #0000000a;
    --background: #43a047;
    --gray: #00000061;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}

.datepicker_modal {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 9999;
    background-color: rgba(0, 0, 0, 0.2);
}
.datepicker {
    min-width: 200px;
    width: 320px;
    border-radius: 4px;
    overflow: hidden;
}
.datenow {
    padding: 17px 25px;
    background-color: var(--background);
}
.datenow span {
    padding: 5px;
    border-radius: 4px;
}
.datenow span:hover {
    background-color: #00000014;
    cursor: pointer;
}
.year {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.75;
    letter-spacing: 0.00938em;
    color: #ffffff8a;
    user-select: none;
}
.date_string {
    font-size: 2.125rem;
    font-weight: 400;
    line-height: 1.17;
    letter-spacing: 0.00735em;
    color: #ffffff;
    user-select: none;
}
.calendar {
    background-color: #ffffff;
    padding: 15px;
}
.selectedDate {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.selectedDate img {
    width: 20px;
    cursor: pointer;
}
.selectedDate h6 {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.00938em;
}
.days {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-auto-columns: minmax(41px, auto);
    grid-auto-rows: 41px;
}
.dayInWeek span {
    display: inline-block;
    width: 100%;
    line-height: 41px;
    text-align: center;
    color: var(--gray);
    font-size: 0.75rem;
    font-weight: 400;
    letter-spacing: 0.03333em;
    user-select: none;
}
.day span {
    display: inline-block;
    width: 100%;
    line-height: 41px;
    text-align: center;
    color: var(--color);
    font-size: 0.875rem;
    font-weight: 400;
    letter-spacing: 0.01071em;
    user-select: none;
}
.day span:hover {
    cursor: pointer;
    background-color: var(--hover);
}
.day span.selected {
    color: #ffffff;
    background-color: var(--background);
    pointer-events: none;
}