.input_field {
    position: relative;
    margin-bottom: 16px;
}

.input_field_error {
    position: absolute;
    right: 0;
    bottom: calc(100% + 5px);
    padding: 5px;
    font-size: 12px;
    background-color: #d04141;
    color: #ffffff;
    border-radius: 4px;
}
.input_field_error::after {
    content: "";
    position: absolute;
    right: 10%;
    top: 100%;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #d04141;
}

.input_field_input {
    width: 100%;
    border: 1px solid #b5b5b5;
    border-radius: 4px;
    outline: none;
    padding: 0.5rem;
    color: #575757;
}
.input_field_input:hover {
    border: 1px solid #8fcdd0;
}
.input_field_input:focus {
    border: 1px solid #18c5ce;
}
  